/* H E A D E R */

#header_box {
	width: 100%;
	height: 41px;
	background-color: #343a40;
	float: left;
}

.header_a {
	font-family: GS_R;
	color: rgba(255,255,255,.5);
	font-size: 15px;
	text-decoration: none;
	float: left;
	padding: 11px 0px 7px 0px;
	margin-right: 15px;
}

.header_a:hover {
	box-shadow: 0px 5px rgba(255,255,255,.5);
	transition: 250ms;
}

#header_email {
	margin: 0;
}

#header_email_form {
	width: 300px;
	height: 25px;
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	border: 1px solid #fff;
	margin-top: 5.5px;
	border-radius: 5px;
	outline: none;
	font-family: GS_R;
}

#header_email_submit {
	height: 30px;
	width: 80px;
	background-color: #d32f2f;
	border: 0px solid #d32f2f;
	margin-top: 5px;
	border-radius: 5px;
	outline: none;
	font-family: GS_M;
	color: #fff;
	float: right;
	margin-right: 20px;
	cursor: pointer;
	box-shadow: inset 0px -3px 0px #b71c1c;
}

#header_email_submit:hover {
	box-shadow: inset 0px 0px 0px #b71c1c;
	margin-top: 8px;
	height: 27px;
	transition: 100ms;
}

/* A B O U T */

#about_box {
	width: 100%;
	height: 169px;
	float: left;
	background-color: #d32f2f;
	padding: 40px 0px 40px 0px;
}

#about_header {
	font-family: GS_B;
	color: #fff;
	font-size: 32px;
	text-align: center;
	margin-top: -7px;
}

#about_p {
	font-family: GS_R;
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

#about_form_box {
	width: 500px;
	min-width: 30px;
	margin: auto;
	margin-top: 31px;
}

/*#about_form {
	text-align: center;
	margin-top: 30px;
}*/

#about_form_input {
	width: 488px;
	height: 30px;
	background-color: #fff;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #fff;
	/**/
	font-family: GS_R;
	color: #343a40;
	font-size: 15px;
	outline: none;
	box-shadow: 0px 0px #bdbdbd;
}

#searched_box {
	width: 100%;
	min-height: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: -5px;
	overflow: hidden;

	background-color: #fff;
	box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
}

/*#searched_box {
	width: 512px;
	min-height: 0px;
	background-color: #fff;
	margin: auto;
	margin-top: -5px;
	z-index: 11;
	box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
	border-radius: 0px 0px 5px 5px;

	-webkit-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.3);
}*/

.searched_pizza {
	min-height: 1px;
	width: 500px;
	text-decoration: none;
	z-index: 11;
}

.searched_pizza:hover {
	background-color: #d32f2f;
	transition: 100ms;
}

.searched_a {
	text-decoration: none;
	color: #fff;
}

.seached_text {
	font-family: GS_M;
	font-size: 18px;
	color: #212529;
	text-decoration: none;
	padding: 7px 0px 7px 10px;
}

.seached_text:hover {
	color: #fff;
	transition: 100ms;
}