#found_box {
	width: 100%;
	min-height: 930px;
	float: left;
	display: none;
}

#found_header {
	font-family: GS_B;
	color: #212529;
	font-size: 32px;
	padding: 0;
	margin: 0;
	float: left;
	margin-top: 30px;
}
#filter_box {
	width: 100%;
	float: left;
}
#pizzas {
	width: 100%;
	float: left;
}
.resulting_pizzas {
	text-decoration: none;
	color: #343a40;
	font-family: GS_R;
	font-size: 20px;
}
.detailed_pizza {
	padding: 15px 0px;
}