#found_box {
    width: 100%;
    min-height: 100vh;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    margin-top: 80px;
    display: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.found_show {
    display: block;
}

#found_header {
    font-family: GS_B;
    color: #212529;
    font-size: 32px;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
#filter_box {
    width: 100%;
    float: left;
}

#pizzas {
    width: 100%;
    float: left;
}

.resulting_pizzas {
    text-decoration: none;
    color: #343a40;
    font-family: GS_R;
    font-size: 20px;
}

.detailed_pizza {
    padding: 15px 20px 20px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: inset 0px -4px 0px #eeeeee;
    width: 540px;
    float: left;
    margin: 0px 20px 20px 0px;
    cursor: pointer;
}

#detailed_header {
    font-family: GS_B;
    color: #212529;
    font-size: 32px;
    padding: 0;
    margin: 0;
    float: left;
    padding-bottom: 30px;
    display: none;
}

.detailed_header_show {
    display: block;
}

.detailed_name {
    font-family: GS_R;
    font-size: 32px;
    color: #d32f2f;
    padding-bottom: 10px;
}

.detailed_name::first-letter {
    text-transform: uppercase;
}

.detailed_info {
    font-family: GS_R;
    color: #212529;
}

.pizzeria {
    font-size: 24px;
    color: #212529;
}

.distance {
    font-size: 20px;
    letter-spacing: 1px;
    color: #212529;
}

.price {
    font-size: 26px;
    margin-top: 10px;
    color: #212529;
}

.pricenumber {
    font-size: 28px;
    font-family: GS_R;
    color: #212529;
}