#selector_box {
	width: 100%;
	min-height: 1px;
	float: left;
	padding: 40px 0px 40px 0px;
	padding-top: 40px;
}

.selector_druh_box {
	width: 280px;
	min-height: 1px;
	margin-right: 20px;
	display: inline-block;
	float: left;
}

.selector_druh_header {
	font-family: GS_B;
	float: left;
	color: #212529;
	font-size: 26px;
	padding-bottom: 10px;
}

#selecotr_buttons_box {
	width: 1200px;
	min-height: 1px;
	float: left;
	margin-top: 25px;
}

.selector_button {
	height: 25px;
	width: 260px;
	float: left;
	background-color: #d32f2f;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: inset 0px -4px 0px #b71c1c;
	cursor: pointer;
	padding: 10px 0px 10px 20px;
	font-family: GS_R;
	color: #fff;
	font-size: 20px;
}

.selector_button span {
	display: none;
}

.colored {
	background-color: #343a40;
	box-shadow: inset 0px -4px 0px #212121;
	color: #bdbdbd;
	transition: 100ms;
}

.selector_button:hover {
	box-shadow: inset 0px 0px 0px #b71c1c;
	padding: 10px 0px 12px 20px;
	margin-top: 12px;
	transition: 100ms;
	height: 21px;
}

/* - - - */

#selector_header_and_search_box {
	width: 1180px;
	min-height: 48px;
	float: left;
}

#selector_header {
	font-family: GS_B;
	color: #212529;
	font-size: 32px;
	padding: 0;
	margin: 0;
	float: left;
	margin-top: 4px;
}

.find_button {
	background-color: #d32f2f;
	text-align: center;
	padding: 9px 0px 9px 0px;
	width: 280px;
	color: #fff;
	border: 1px #d32f2f;
	font-family: GS_M;
	text-decoration: none;
	font-size: 24px;
	border-radius: 5px;
	float: right;
	box-shadow: inset 0px -4px 0px #b71c1c;
	cursor: pointer;
	outline: none;
}

.find_button:hover {
	box-shadow: inset 0px 0px 0px #d32f2f;
	margin-top: 4px;
	/*padding: 7px 60px 7px 60px;*/
	padding: 7px 0px 7px 0px;
	transition: 100ms;
}

.colored_button {
	background-color: #bdbdbd;
	box-shadow: inset 0px -4px 0px #8d8d8d;
	transition: 250ms;
}

.colored_button:hover {
	box-shadow: inset 0px 0px 0px #8d8d8d;
	margin-top: 4px;
	padding: 7px 0px 7px 0px;
	transition: 100ms;
}

.find_p {
	font-family: GS_R;
	color: #212529;
	font-size: 28px;
	float: right;
	margin-left: 10px;
	margin-top: 4px;
	width: 600px;
}