@font-face {
	font-family: GS_B;
	src: url(../fonts/Sans-Bold.ttf);
}

@font-face {
	font-family: GS_M;
	src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
	font-family: GS_R;
	src: url(../fonts/Sans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
}

::-webkit-scrollbar {
	width: 00px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background: #d32f2f; 
}

::-webkit-scrollbar-thumb:hover {
	background: #b71c1c;
	transition: 250ms;
}

.box_crop {
	width: 1200px;
	min-height: 1px; 
	margin: auto;
}

#pizza_found {
	width: 100%;
	min-height: 1px;
	float: left;
	padding: 50px 0px 50px 0px;
}


#pizza_name {
	font-family: GS_B;
	color: #fff;
	font-size: 36px;
	float: left;
}

#pizza_ing {
	font-family: GS_R;
	color: #fff;
	font-size: 24px;
	margin-top: 5px;
	float: left;
}

#pizza_price {
	font-family: GS_R;
	color: #d32f2f;
	font-size: 34px;
	margin-top: 13px;
	float: left;
	padding: 10px 20px 10px 20px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 20px;
}

span {
 font-family: GS_M;
 font-size: 36px;
}

#cropy_crop {
	width: 520px;
	min-height: 1px;
	background-color: #d32f2f;
	padding: 20px 20px 20px 20px;
	border-radius: 5px;
	float: left;
}

#pizzerie {
	width: 100%;
	min-height: 1px;
	background-color: #f5f5f5;
	float: left;
	padding: 50px 0px 50px 0px;
}

.pizzerie_box {
	width: 330px;
	height: 57px;
	background-color: #d32f2f;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	float: left;
}

#pizzerie_name {
	font-family: GS_B;
	color: #fff;
	font-size: 24px;
	float: left;
}

#pizzerie_info {
	font-family: GS_R;
	color: #fff;
	font-size: 18px;
	float: left;
	margin-top: 5px;
}

#map {
	width: 810px;
	height: 330px;
	float: right;
	background-color: #fff;
	border-radius: 5px;
}

body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}